{% extends "bootstrap-layout.html" %}
{% load uni_form_tags %}

{% block bootstrap_container_content %}

    <div class="row">
      <div class="span8">

        {% uni_form form form.helper %}

      </div>

      <script>
        // By default, set the end date to the same as the begin date.
        $('#id_begin_time_0').change(function() {
          var begin_date = $('#id_begin_time_0').val(),
              end_date = $('#id_end_time_0').val();

          if (end_date === '') {
            $('#id_end_time_0').val(begin_date);
          }
        });
      </script>

      <div class="span3 well">
        <p>Enter the name and time of the meeting.  Before creating the meeting, we will search to see whether there are any similar meetings that already exist.</p>
      </div>
    </div> <!-- row -->

{% endblock %}
