<div class="footer-wrapper">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-nav">
          <ul class="nav footer-nav">
            <li><b>{{ site.name }}</b></li>
            <li><a href="{% url project-about %}">What's this?</a></li>
            <li><a href="http://github.com/openplans/meetingmatters/">Source</a></li>
          </ul>
        </div>

        <div class="footer-copyright">
          &copy; 2012 <a href="http://openplans.org/">OpenPlans</a>.
        </div>
    </div>
  </div>
</div>
