<!--<div class="footer">-->
<!--  <div class="container">-->
<!--    <p><b>What's this?</b></p>-->
<!--    <p>{{ site.name }} is a community-edited directory of public meetings. Browse forthcoming meetings by topic. Log in and add meetings you know about.  <a data-toggle="modal" href="#about-box">Find out more</a>.</p>-->
<!--  </div>-->
<!--</div>-->

<div class="modal fade" id="about-box">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>About {{ site.name }}</h3>
  </div>
  <div class="modal-body">
    <p>{{ site.name }} is a community-edited directory of public meetings. Browse forthcoming meetings by topic. Log in and add meetings you know about.</p>
  </div>
</div>
