{% extends "bootstrap-layout.html" %}

{% block bootstrap_container_content %}

  <div class="hero-unit">
    <h1>Public Meeting I/O</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="{% url socialauth_begin "twitter" %}" class="btn btn-primary btn-large">Log in with Twitter</a></p>
  </div> <!-- hero -->

  <div class="row">
    <div class="span8 offset2">
      {% include "partials/browse_meetings_meeting_list.html" %}
    </div>
  </div>

{% endblock %}
