{% extends "bootstrap-layout.html" %}

{% block bootstrap_container_content %}

  <div class="hero-unit">
<!--    <p>A new way to</p>-->
    <h1>Find & Join Public Meetings</h1>

<!--    <div>-->
<!--      <a href="{% url socialauth_begin "twitter" %}" class="btn btn-primary btn-large">Browse Meetings</a>-->
<!--      <a href="{% url socialauth_begin "twitter" %}" class="btn btn-primary btn-large">Add a Meeting</a>-->
<!--      <div class="pull-right">-->
<!--        <a href="{% url socialauth_begin "twitter" %}" class="btn btn-primary btn-large">Log in with Twitter</a>-->
<!--      </div>-->
<!--    </div>-->

  </div> <!-- hero -->

  <div class="row">
    <div class="span8">
      <h2>Upcoming Meetings</h2>
      {% if meetings %}
        {% include "partials/browse_meetings_meeting_list.html" %}
      {% else %}
        <p>There are no upcoming meetings.  Check out the
           <a href="{% url browse_meetings_meeting_list %}">past meetings</a>,
           or considering adding a
           <a href="{% url create_meeting_search_similar %}">new meeting</a>
           that you know about.</p>
      {% endif %}
    </div>

    <div class="span4">
      <div class="well">
        <div>
          <div align="center"><img src="{{ STATIC_URL }}community.png" alt="Community" title="&quot;Community&quot; symbol by The Noun Project, from thenounproject.com collection."></div>
          <h2><a href="{% url browse_meetings_meeting_list %}">Browse Meetings</a></h2>
          <p>Look through the meetings that have been entered by the community.  You can see all meetings, or only those tagged with topics that interest you.</p>
        </div>
        <div>
          <div align="center"><img src="{{ STATIC_URL }}inbox.png" alt="Inbox" title="&quot;Inbox&quot; symbol by The Noun Project, from thenounproject.com collection."></div>
          <h2><a href="{% url create_meeting_search_similar %}">Add a Meeting</a></h2>
          <p>This directory is community curated.  Share meetings that you know about, and make your community stronger.  Because meeting matters.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
