  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="/">{{ site.name }}</a>
  <div class="nav-collapse">
    <ul class="nav">
      <li><a data-toggle="modal" href="#about-box">What's this?</a></li>
      <li><a href="{% url browse_meetings_meeting_list %}">Browse meetings</a></li>
      <li><a href="{% url create_meeting_search_similar %}">Add a meeting</a></li>

    </ul>

    {% if user.is_authenticated %}
    <p class="navbar-text pull-right">
      Logged in as <a href="#">{{ user.username }}</a>
    </p>
    <ul class="nav">
      <li><a href="/logout?next={{ request.get_full_path }}">Log out</a></li>
    </ul>
    {% else %}
    <ul class="nav">
      <li><a href="{% url socialauth_begin "twitter" %}">Log in with Twitter</a></li>
    </ul>
    {% endif %}

  </div><!--/.nav-collapse -->
