{% extends "bootstrap-layout.html" %}

{% block bootstrap_navbar_underlay %}
  <div class="underlay">
    <div class="container">
      <p><b>What's this?</b> {{ site.name }} is a community-edited directory of public meetings. Browse forthcoming meetings by topic. Log in and add meetings you know about.  <a href="{% url project-about %}">Find out more</a>.</p>
    </div>
  </div>
{% endblock %}

{% block bootstrap_container_content %}

  <div class="row">
    <div class="home-upcoming-meetings">
      <h2>
        Upcoming Meetings
        {% if region %}in {{ region.name }}{% endif %}</h2>
      {% if meetings %}
        {% include "partials/browse_meetings_meeting_list.html" %}
      {% else %}
        <p>There are no upcoming meetings.  Check out the
           <a href="{% url browse_meetings_meeting_list %}">past meetings</a>,
           or considering adding a
           <a href="{% url create_meeting_search_similar %}">new meeting</a>
           that you know about.</p>
      {% endif %}
    </div>

    <div class="home-guide">
      {% include "partials/project-guide.html" %}
    </div>
  </div>

{% endblock %}
