DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'publicmeeting.db',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

SECRET_KEY = '0xyj_n)ut)c=d98*+=e$iyk1wkbi4t)1)kyoij87jb1av*z*o'
