{% extends "bootstrap-layout.html" %}

{% block bootstrap_container_content %}

  <div class="row">
  	<div class="span8">
      <h2>{{ meeting.title }}</h2>

      <div class="row">
        <div class="span4">
          {% if meeting.begin_time %}
            <div class="meeting-time">{{ meeting.begin_time|date:"l, F j, Y" }}</div>
            <div class="meeting-time">{{ meeting.begin_time|time:"g:i A" }}</div>
          {% else %}
            <div class="meeting-time">Time TBD</div>
          {% endif %}
        </div>

        <div class="span4" align="right">
          <div>{{ meeting.venue_name|default:"Location TBD" }}</div>
        </div>
      </div>

      <div class="meeting-description">
        {{ meeting.description|linebreaks }}
      </div>
  	</div>

    <div class="span3">
    </div>
  </div>

{% endblock %}
