{% extends "bootstrap-layout.html" %}
{% load url from future %}

{% block bootstrap_container_content %}
  <div class="row">
    <div class="span8">
      <div class="row">
        <div class="span6">
          <h2>Meetings
          {% if selected_tags %}
            tagged with
            {% for tag in selected_tags %}
              &quot;{{ tag.name }}&quot;{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% endif %}</h2>
        </div>
        <div class="meeting-feeds span2">
          Subscribe to this list:
          <a href="{{ rss_url }}"><i class="icon-rss"></i> RSS</a>
          <a href="{{ ical_url }}"><i class="icon-calendar"></i> iCal</a>
        </div>
      </div>

      <div class="meeting-list">
        <link href="{{ rss_url }}" rel="alternate" type="application/rss+xml" />
        {% include "partials/meetings_meeting_list.html" %}
      </div>
    </div>

    <div class="homepage-sidebar-wrapper span4">
      <div class="well">
        <script src="{{ STATIC_URL }}js/meetings_filter.js"></script>

        <form method="GET" id="id_filter_form">
          <h4>Place</h4>
          <label for="id_center">Center</label><input type="text" name="center" id="id_center">
          <label for="id_radius">Radius</label><input type="text" name="radius" id="id_radius">

          <h4>Time</h4>
          <label for="id_earliest">From</label><input type="date" name="earliest" id="id_earliest">
          <label for="id_latest">Until</label><input type="date" name="latest" id="id_latest">

          <h4>Topics</h4>
          <ul class="nav nav-pills nav-stacked">
            <li id="id_all_tags-li" {% if not filter_form.cleaned_data.tags %}class="active"{% endif %}>
              <a id="id_all_tags-btn">All</a>
              <script>
                $(document).ready(function() {
                  initAllTopicsFilter();
                });
              </script>
              <hr>
            </li>

            {% for tag in tags %}
              <li id="id_tags-{{ tag.slug }}-li"{% if tag in filter_form.cleaned_data.tags %} class="active"{% endif %}>
                <a id="id_tags-{{ tag.slug }}-btn">{{ tag.name }}</a>
                <input type="checkbox" name="tags" value="{{ tag.slug }}" id="id_tags-{{ tag.slug }}"{% if tag in filter_form.cleaned_data.tags %} checked="checked"{% endif %} style="display: none">
                <script>
                  $(document).ready(function() {
                    initTopicFilter('{{ tag.slug }}');
                  });
                </script>
              </li>
            {% endfor %}
          </ul>
        </form>
      </div>
    </div>
  </div>



{% endblock %}
