{% extends "bootstrap-layout.html" %}

{% load compress %}
{% load url from future %}

{% block bootstrap_container_content %}
  <div class="row">
    <div id="id_browse-meetings-wrapper" class="browse-meetings-wrapper span8">
      {% include "partials/meetings_browse_meetings.html" %}
    </div>

    <div class="homepage-sidebar-wrapper span4">
      <div class="well">

        <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css">
        {% compress css %}
        {% endcompress %}
        <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css"><![endif]-->

        <script src="http://leaflet.cloudmade.com/dist/leaflet.js"></script>
        <script src="{{ STATIC_URL }}js/meetings_filter.js"></script>
        {% compress js %}
        {% endcompress %}

        {% with filters=filter_form.cleaned_data %}
        <form method="GET" id="id_filter_form">
          <button id="id_update-filters-btn" class="btn btn-primary btn-large" type="submit">Update Filters</button>

          <hr class="filter-section-separator">

          <h4 id="id_place-filter-header">Place</h4>
          <div id="id_place-filter-wrapper">
            <label for="id_region">Region</label>
            {{ filter_form.region }}
            {{ filter_form.bbox }}
          </div>

          <hr class="filter-section-separator">

          <h4 id="id_time-filter-header">Time</h4>
          <div id="id_time-filter-wrapper">
            <div class="filter-date-wrapper">
              <label for="id_earliest">From</label>
              {{ filter_form.earliest }}
            </div>

            <div class="filter-date-wrapper">
              <label for="id_latest">Until</label>
              {{ filter_form.latest }}
            </div>
          </div>

          <hr class="filter-section-separator">

          <h4 id="id_topics-filter-header">Topics</h4>
          <div id="id_topics-filter-wrapper">
            <ul class="nav nav-pills nav-stacked">
              <li id="id_all_tags-li" {% if not filters.tags %}class="active"{% endif %}>
                <a id="id_all_tags-btn">All</a>
                <script>
                  $(document).ready(function() {
                    initAllTopicsFilter();
                  });
                </script>
                <hr>
              </li>

              {% for tag in tags %}
                <li id="id_tags-{{ tag.slug }}-li"{% if tag in filters.tags %} class="active"{% endif %}>
                  <a id="id_tags-{{ tag.slug }}-btn">{{ tag.name }}</a>
                  <input type="checkbox" name="tags" value="{{ tag.slug }}" id="id_tags-{{ tag.slug }}"{% if tag in filters.tags %} checked="checked"{% endif %} style="display: none">
                  <script>
                    $(document).ready(function() {
                      initTopicFilter('{{ tag.slug }}');
                    });
                  </script>
                </li>
              {% endfor %}
            </ul>
          </div>
        </form>

        <script>
          $(document).ready(function() {
            $('#id_place-filter-header').click(function() {
              $('#id_place-filter-wrapper').slideToggle();
            });
            $('#id_time-filter-header').click(function() {
              $('#id_time-filter-wrapper').slideToggle();
            });
            $('#id_topics-filter-header').click(function() {
              $('#id_topics-filter-wrapper').slideToggle();
            });

            {% if not filters.bbox %}
            $('#id_place-filter-wrapper').hide();
            {% endif %}

            {% if not filters.earliest and not filters.latest %}
            $('#id_time-filter-wrapper').hide();
            {% endif %}

//            $('#id_topics-filter-wrapper').hide();
          });
        </script>
        {% endwith %}
      </div>
    </div>
  </div>



{% endblock %}
