{% extends "bootstrap-layout.html" %}
{% load url from future %}
{% load shorturl %}

{% block bootstrap_container_content %}

  <div class="row">
  	<div class="span8">
      <h2>{{ meeting.title }}</h2>

      <div class="row">
        <div class="span4">
          {% if meeting.begin_time %}
            <div class="meeting-time">{{ meeting.begin_time|date:"l, F j, Y" }}</div>
            <div class="meeting-time">
              {{ meeting.begin_time|time:"g:i A" }}
              {% if meeting.end_time %}
                - {{ meeting.end_time|time:"g:i A" }}
              {% endif %}
            </div>
          {% else %}
            <div class="meeting-time">Time TBD</div>
          {% endif %}
        </div>

        <div class="span4" align="right">
          <div>{{ meeting.venue_name|default:"Location TBD" }}</div>
          <div>{{ meeting.venue_additional }}</div>
        </div>
      </div>

      <div class="meeting-description">
        {{ meeting.description|linebreaks|urlizetrunc:50 }}
      </div>

      <div>
        <a href="{% url 'update_meeting_fill_info' meeting.slug %}">Edit this meeting</a>
      </div>
  	</div>

    <div class="span4">
      <div class="well">
        <h4>Topics</h4>
        <div>
          {% for tag in meeting.tags.all %}
            <a class="meeting-tag btn btn-mini" href="{% url 'browse_meetings_meeting_list' %}?tags={{ tag.slug|urlencode }}">{{ tag.name }} <i class="icon-tag"></i></a>
          {% endfor %}
        </div>

<!--        <hr>-->

<!--        <div class="meeting-share">-->
<!--          <a href="{% shorturl meeting %}"><i class="icon-share"></i> {% shorturl meeting %}</a>-->
<!--        </div>-->

      </div>
    </div>
  </div>

{% endblock %}
