{% extends "bootstrap-layout.html" %}
{% load uni_form_tags %}

{% block bootstrap_container_content %}

    <div class="row">
      <div class="span8">
        {% uni_form form form.helper %}
      </div>

      <div class="span4">
        <div class="alert alert-info">
          <p>We've found the following meetings that seem similar to yours.  Consider modifying or attending one of these instead.</p>

          <h5><a href="create_meeting3.html">Philadelphia City Council Committee on Rules</a></h5>
          <h6>Wednesday, 22 February, 2012</h5>
          <h6>10:00 AM - 12:00 PM</h5>

          <hr>
          <p>Does your event appear above?</p>
        </div>
      </div>
    </div> <!-- row -->

{% endblock %}
