<ul class="unstyled meeting-list">
  {% for meeting in meetings %}
    <li>
      <div class="meeting-teaser">
        <div class="row">
          <div class="span5">
            <h4><a href="{% url browse_meetings_meeting_detail meeting.slug %}">{{ meeting.title }}</a></h4>
            <div class="meeting-time">{{ meeting.begin_time|date:"l, F j, Y, g:i A" }}</div>
          </div>

          <div class="span3 pull-right" align="right">
            {% for tag in meeting.tags.all %}
              <a class="meeting-tag btn btn-mini">{{ tag.name }} <i class="icon-tag"></i></a>
            {% endfor %}
          </div>
        </div>

        <p class="meeting-description">{{ meeting.description|truncatewords:50 }}</p>
      </div>

      <hr>
    </li>
  {% endfor %}
</ul>
