{% load projecttags %}

<div class="control-group {% if field.errors %}error{% endif %}">
    <label for="{{ field.auto_id }}" class="control-label">
        {% if field.field.required %}<b>{% endif %}{{ field.label|safe }}{% if field.field.required %}</b>{% endif %}
    </label>
    <div class="controls">
        {{ field }}

        <script>
          $(document).ready(function() {
            {% get_cached_tags as tags %}
            var tagList = [{% for tag in tags %}'{{ tag.name }}'{% if not forloop.last %},{% endif %}{% endfor %}];

            // The following code was lifted from
            // http://jqueryui.com/demos/autocomplete/#multiple
            function split( val ) {
			        return val.split( /,\s*/ );
		        }
		        function extractLast( term ) {
			        return split( term ).pop();
		        }

            $( "#id_{{ field.name }}" )
              .bind( "keydown", function( event ) {
				      if ( event.keyCode === $.ui.keyCode.TAB &&
						        $( this ).data( "autocomplete" ).menu.active ) {
					        event.preventDefault();
				        }
			        })
			        .autocomplete({
                source: tagList,
                delay: 0,
			          source: function( request, response ) {
				          // delegate back to autocomplete, but extract the last term
				          response( $.ui.autocomplete.filter(
					          tagList, extractLast( request.term ) ) );
			          },
			          focus: function() {
				          // prevent value inserted on focus
				          return false;
			          },
			          select: function( event, ui ) {
				          var terms = split( this.value );
				          // remove the current input
				          terms.pop();
				          // add the selected item
				          terms.push( ui.item.value );
				          // add placeholder to get the comma-and-space at the end
				          terms.push( "" );
				          this.value = terms.join( ", " );
				          return false;
			          }
				      });
          });
        </script>

        {% if field.errors %}
            <span class="help-inline">{% for error in field.errors %}{{ error }}<br/> {% endfor %}</span>
        {% endif %}
        {% if field.help_text%}
            <p class="help-block">
                {{ field.help_text|safe }}
            </p>
        {% endif %}
    </div>
</div>
