@import "bootstrap";

.meeting-description {
  margin-top: 1em;
}

.meeting-time {
  font-style: italic;
  color: gray;
}

.home-upcoming-meetings,
.about-content {
  .makeColumn(8);
}

.home-guide,
.about-guide {
  .makeColumn(4);
}

.home-guide-symbol {
  text-align: center;
  margin-top: 2em;
}

.footer {
  background-color: @grayLighter;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 1em;
  min-height: 100px;
}

.underlay {
  background-color: @grayLighter;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
}

#about-box {
  display: none;
}
